.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.divider {
  margin: 8px 0;
}

.label {
  cursor: pointer;
  user-select: none;

  display: flex;
  gap: 8px;
  align-items: center;
}
