.tag {
  width: fit-content;
  margin: 0;
  padding: 4px 10px;
  border: none;
  border-radius: 6px;

  font-size: 12px;
  line-height: 18px;
  color: #d46b08;

  background-color: #fff7e6;
}

.dot {
  display: inline-block;

  width: 6px;
  height: 6px;
  border-radius: 50%;

  background-color: #fa8c16;
}
